<% if logged_in? %>
  <div class="">
    <%= render 'shared/feed' %>
  </div>

<% else %>
  <div class="py-5 d-flex justify-content-center">
    <div class="mt-50">
      <p></p>
      <p><%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %></p>
      <p><%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %></p>
    </div>
  </div>
<% end %>
