<li class="mb-5">
  <p><%= fa_icon("user-circle", class: "fa-5x")%>
    <p class="user text-muted">
      <%= user.name %>
    </p>
    <p class="fw-bold user">
      <%= link_to user.username, user %>
    </p>
    <%= link_to "Follow", '#', class: "btn btn-primary text-white follow-button" %>
  </p>
</li>
