<li class="mb-5">
  <p><%= fa_icon("user-circle", class: "fa-5x")%>
    <p class="user text-muted">
      <%= user.name %>
    </p>
    <p class="fw-bold user">
      <%= link_to user.username, user %>
    </p>
    <%= render 'relationship_form', { object: user, style: "follow-button" } %>
  </p>
</li>
